/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.user-img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.body {
   
    background-color: #f0f0f0;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
}


/* Sidebar styles */
.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 110vh;
    width: 80px;
    background: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar.active ~ .main-content { 
    left: 225px;               
    width: calc(100% - 200px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}


.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p{
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}

.sidebar p{
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}  

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    background-color: #fff;
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: #eee;
    min-height: 110vh;
    /* top: -30px; */
    left: 5rem;
    transition: all 0.5s ease;
    width: calc(100% - 30px);
    /* padding: 1rem; */
}


.flashnote-container.main-content{
color: black;
}
/* FlashNote specific styles */
.flashnote-navbar {
    background-color: #6798c0;
    color: white;
    padding: 1rem;
}

.flashnote-navbar ul a:hover {
    border-radius: 0.4rem;
    background-color: white;
    color:  #6798c0;
}

.flashnote-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flashnote-navbar ul li {
    display: inline;
}

.flashnote-navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.flashnote-right-column {
    flex: 1;
    background-color: white;
    padding: 2rem;
    border-left: 1px solid #fdd85d;
    margin-right: 0.5rem;
}

.flashnote-note-area {
    display: flex;
    flex-direction: column;
}

.flashnote-tabs {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}



.flashnote-tabs button {
    flex: 1;
    padding: 0.5rem;
    background-color: #fdd85d;
    border: 1px solid #dbaf1c;
    cursor: pointer;
    color: #333;
    border-radius: 4px;
    margin-left: 2px;
}

.flashnote-tabs button:hover {
    background-color: #fdc920;
    color: white;
}

.flashnote-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}



.flashnote-note-input, .flashnote-note-output {
    width: 48%;
    margin-bottom: 1rem;
    border: 0.5px solid #9c9393;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.flashnote-note-input textarea {
    width: 100%;
    height: 200px;
    border: none;
    padding: 1rem;
    resize: none;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none; /* Remove the default outline */
}

.outputText{

    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
   
    overflow-x: auto;

    padding: 1rem;
    resize:vertical;

    height:320px;

    /* Comment to add scrolling  */
    /* height: 200px; */
    border: none;
    padding: 2rem;
    resize: none;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none; 
    /* Remove the default outline */
    
    
}

/* Button styles */
.flashnote-upload-pdf, .flashnote-create-note, .flashnote-save-note,.flashnote-copy-button,.flashnote-clear-button

{
    padding: 0.5rem 1rem;
    background-color: #6798c0;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    
}

.flashnote-upload-pdf:hover, .flashnote-create-note:hover, .flashnote-save-note:hover 
, .flashnote-copy-button:hover, .flashnote-clear-button:hover
{

    background-color: #5a7ba5;
}

.flashnote-save-note {
    align-self: flex-end;
}

.flashnote-copy-button {
    padding: 0.5rem 1rem;
    right:  1rem;
}

/* Output section */
.flashnote-note-output h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .flashnote-main-content {
        flex-direction: column;
    }
    
     .flashnote-right-column {
        width: 100%;
        padding: 1rem;
    }

    .flashnote-content {
        flex-direction: column;
    }

    .flashnote-note-input, .flashnote-note-output {
        width: 100%;
    }

    .flashnote-tabs button {
        flex: none;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}


